<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/contato.css">  </head>
<header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre mim</a></li>
                <li><a href="/disciplinas">Disciplinas</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>
<body>
    <div class="conteudo">
      <h1>Contatos</h1>
      <p><%= email %></p>
      <p><%= telefone %></p>
      <p><a href="<%= github %>" target="_blank">GitHub</a></p>
      <p><a href="<%= linkedin %>" target="_blank">LinkedIn</a></p>
      <p><a href="<%= instagram %>" target="_blank">Instagram</a></p>
    </div>
</body>